<div class="main">

  <div class="left_bar">
    <h1>精鋭部隊</h1>
    
    <div class="log_in">
      <%= link_to current_user.username, user_path(id: current_user.id), class: "username" %>
    </div>

    <div class="dakoku">
      <%= form_with model: [@jikan,@wage], local: true do |j| %>
        <%= j.hidden_field :end_time, value: "#{ @end_time }" %>
        <%= j.hidden_field :paying, value: "#{ @paying }" %>
        <% if current_user == @jikan.user && @jikan.wage == nil %>
          <%= j.submit "退社する", class: "out" %>
        <% end %>
      <% end %>
    </div>

    <% if @comments == [] && current_user.id == @jikan.user.id %>
      <div class="comment-box">
        <%= form_with model: [@jikan,@comment] do |c| %>
          <%= c.text_area :text, placeholder: "残業理由を入力してください", class: "comment-text" %>
          <%= c.submit '残業申請', id: "comment-btn", class: "comment-btn" %>
        <% end %>
      </div>
    <% end %>
    <% if current_user.id == 1 %>
      <div class="comment-box">
        <%= form_with model: [@jikan,@comment] do |c| %>
          <%= c.text_area :text, placeholder: "コメントを入力してください", class: "comment-text" %>
          <%= c.submit '残業申請', id: "comment-btn", class: "comment-btn" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="right_bar">
    <H2><%="#{@jikan.user.username}さん、今日も1日がんばりましょう" %></h2>
    <div id="day" class="day">
      <%= "#{@time.year}年#{@time.month}月#{@time.day}日" %>
      <div id="time" class="time">
      </div>
    </div>
    <div id="Message" class="Message">
    </div>

    <% if @comments %>
      <% @comments.each do |c| %>
        <div id='comments' class="comments">
          <p>
            <%= "#{c.user.username}:"%>
            <%= c.text %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>